/* trailer */
/* .Btn-trailer {
  background-color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}
.Btn-trailer:hover {
  background-color: orangered;
}


.close-trailer-icon {
  position: absolute;
  top: 200px;
  right: 30px;
  color: white;
} */