.content-text {
  margin: 50px 5%;
  font-family: sans-serif;
}

.container-random-color h2 {
  text-align: center;
}

.container-video-trailer {
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: black;
}

.container-video-trailer h2 {
  color: white;
  /* padding: 16px 0 8px 0; */
}
.container-video-trailer-main-content {
  max-width: 550px;
  padding: 10px;
}
.container-video-trailer-main-content img {
  max-width: 100%;
  margin-bottom: 15px;
  border-radius: 10px;
}
.container-video-trailer-main-content h1 {
  color: white;
  font-weight: 500;
}
.container-video-trailer-main-content p {
  color: white;
  margin: 15px 0;
}
